@use "variables" as v;
@use 'mixins';
.actionButtonsContainer{

background-color: brown;
width: 100%;
grid-area: 10/1/12/25;

display: flex;
justify-content: space-around;
align-items: center;




button{

    @include mixins.button() {


    
    }

}

}