@use "variables" as v;
@use 'mixins';
.addTodoContainer {
	height: 300px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: v.$paddning ;
}
.inputContainer {
	height: 100%;
	width: 90%;
	max-width: calc(v.$maxWidth / 1.618);
	min-height: 300px;
	border: 1px  v.$border solid;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	box-shadow: 5px 8px 1px v.$shadow;
	background-color: v.$background-light;
	&___text {
		margin: 0 0 -3% 0;
		padding: 0;
		font-family: v.$fontTwo;
		font-size: clamp(35px, 3vw, 47px);
		text-shadow: 1px 2px 2px v.$secondary-color;
	}
	&___titel {
		outline: none;
		border: 0;
		width: 60%;
		height: clamp(15px, 2vw, 23px);
		border-bottom: 1px v.$border solid;
		max-width: 500px;
		font-size: clamp(10px, 2.5vw, 20px);
		text-align: center;
		font-family: v.$fontOne;
		font-weight: 600;
	}
	&___titel:focus {
		outline: none;
	}
	&___button {
		@include mixins.button() {}
	}
}