@use 'variables' as v;

@mixin button() {
  width: 20%;
  max-width: 130px;
  height: v.$height;
  font-size: clamp(11px, 2vw, 16px);
  font-family: v.$fontOne;
  background-color:v.$primary-color;
  box-shadow: 2px 2px 1px v.$shadow, 1px 2px 2px v.$color-inst-button inset;
  border-radius: 5px;
  @content;

&:hover{
background-color: v.$secondary-color;
}

}


