@use 'variables' as v;








@mixin button() {
width: 20%;
max-width: 70px;
height: 30px;
  @content;
  }
  
  














@mixin container-for-page () {

  padding: 0px;
  margin: 0px;
  height: 100%;
  width: 100%;


}






@mixin devices ($breakpoint) {

  @if $breakpoint ==tablet {
    @media (min-width: 768px) {
      @content;
    }
  }

  @if $breakpoint ==desktop {
    @media (min-width: 1024px) {
      @content;
    }
  }
}


