$background-light: rgba(255, 255, 255, 0.75);
$primary-color: orangered;
$secondary-color: rgb(0, 166, 133);
$shadow: rgb(0, 0, 0);
$border: rgb(128, 128, 128);
$color-inst-button: rgb(207, 205, 205);
$height: 30px;
$paddning: 80px;
$maxWidth: 1000px;
$fontOne: 'Karla';
$fontTwo: 'Lobster Two';
