@use 'addtodo';
@use 'actionButtons';
@use 'todos';
@use 'mixins';



:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 12pt;
  height: 100%;
  width: 100%;

}

body {
  margin:  0;
  padding:  0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
justify-content: start;




  @include mixins.devices(desktop) {

    min-height: 900px;

  }




}




body::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}